.buttons {
  margin-top: 15px;
  margin-bottom: 50px;
}

button {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid var(--theme-primary-color);
  font-size: 15px;
  outline: none;
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

button:hover:not(.outline) {
  filter: brightness(110%);
}

.primary {
  background: var(--theme-primary-color);
  color: var(--theme-on-primary);
}

.secondary {
  border: 2px solid var(--theme-secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
  background: var(--theme-secondary-color);
  color: var(--theme-on-primary);
}

.outline {
  background: var(--theme-background);
  color: var(--theme-on-background);
}

.outline:hover {
  background: var(--theme-primary-color);
  color: var(--theme-on-primary);
}

.text-box {
  width: 40%;
  text-align: justify;
  background: var(--theme-text-box-background);
  color: var(--theme-on-primary);
  border-radius: 10px;
  padding: 30px;
}

p {
  margin: 0;
  line-height: 25px;
}